SERVER_PORT=8081
MONGODB_TELEMETRY_URI=mongodb+srv://<usuario>:<senha>@<cluster-telemetria>/?retryWrites=true&w=majority
MONGODB_TELEMETRY_DATABASE=db_delta_telemetry
SQL_API_BASE_URL=http://localhost:8080
MONGO_SERVICE_CREDENTIAL=<mesmo-segredo-delta_svc_-configurado-na-SQL>
SQL_AUTH_CONNECT_TIMEOUT=2s
SQL_AUTH_RESPONSE_TIMEOUT=5s
